.header{
    background-color:#3f51b5;
    display: flex;
    justify-content: space-between;
    height:10vh;
    color:whitesmoke;
}

.header-title{
    margin-left: 3.5rem;
    margin-top: 1.2rem;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    width:40vw;
    list-style: none;
    margin-top: 1.2rem;
    background-color:#3f51b5;
}

.links{
    text-decoration: none;
    color:whitesmoke;
}

@media (min-width:320px) and (max-width:961px)  {
  .header-title{
      margin-top: 30px;
  }   

  .nav-links{
      margin-top: 30px;
      margin-right: 15px;
  }
}