.list{
    background-color:#3f51b5;
    width:35vw;
    height:18vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem 2rem;
    line-height: 1.5;
    color:whitesmoke;
}

.list1 > a{
    color:whitesmoke !important;
}

.del-btn{
    margin-bottom: 3px !important;
    color: whitesmoke !important;
}

@media (min-width:320px) and (max-width:961px)  {
  .list{
      height:15vh;
      width:75vw;
      font-size: 18px;
  }   

  .del-btn{
      margin-bottom: 0 !important;
      margin-top: 10px !important;
  }
}